<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/#product">Products</a></li>
          <li class="breadcrumb-item active" aria-current="page">Accessories</li>
        </ol>
      </nav>

    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 py-1">
         <!-- LOCALIZE -->
         <%- include("./product", {name:"AirPods Pro",image:"img/accessories/Airpods Pro.png", link:"/airPodsPro"})%>
         <%- include("./product", {name:"HomePod mini", image:"img/accessories/HomePod Mini.png", link:"/homePod"})%>
         <%- include("./product", {name:"Apple MagSafe Charger", image:"img/accessories/Apple MagSafe Charger.png", link:"/MagSafe"})%>
         <%- include("./product", {name:"Huawei Smart Keyboard", image:"img/accessories/Huawei Smart Keyboard.png", link:"/HuaweiKeyboard"})%>
         <%- include("./product", {name:"Samsung Bluetooth Mouse Slim", image:"img/accessories/Samsung Bluetooth Mouse Slim.png", link:"/SamsungMouse"})%>
         <%- include("./product", {name:"Samsung Galaxy Watch4 4G", image:"img/accessories/Galaxy Watch4 4G.png", link:"/galaxyWatch4"})%>
         <%- include("./product", {name:"Huawei Scale 3 Pro", image:"img/accessories/Huawei Scale 3 Pro.png", link:"/Scale3Pro"})%>
         <%- include("./product", {name:"Apple Magic Keyboard", image:"img/accessories/iPad Magic Keyboard.png", link:"/AppleKeyboard"})%>
         <%- include("./product", {name:"Huawei 6700 mAh Power Bank", image:"img/accessories/Huawei 6700 mAh Power Bank.png", link:"/HuaweiPowerBank"})%>
         <%- include("./product", {name:"Samsung S Pen Fold Edition", image:"img/accessories/Samsung Pen.png", link:"/SamsungSpen"})%>
    </div>
</div>

