
<div class="account py-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <!-- <div class="profile">
            <img src="/img/griffin.jpg" class="profile-pic" alt="ProfileImage">
            <input type="file" id="file">
            <label for="file" id="uploadBtn">Choose Photo</label>
              <div class="name">Griffin Aquino</div>
              <div class="title">UI Designer</div>
          </div> -->
           <div class="card shadow-sm">
            <div class="card-header bg-transparent text-center">
              <div class="profile-pic">
              <img src="/img/griffin.jpg" id="photo" class="profile d-block mx-lg-auto img-fluid"  loading="lazy" alt="Profile">
              <input type="file" id="file">
              <label for="file" id="uploadBtn"><i class="bi bi-camera-fill"></i></label>
            </div>
            </div>

            <div class="card-body">
              <div class="name"> <%= account.firstname%> <%= account.middlename%> <%= account.lastname%></div>
            </div>
          </div>
        </div>


        <div class="col-lg-8">
          <div class="CARD">
            <div class="card-header bg-transparent border-0">
              <h3 class="general-info">General Information</h3>
            </div>
            <div class="card-body pt-0">

              <form action="/API/account/<%= account._id%>?_method=PATCH" method="POST">
                <div class="user-details">
                  <div class="input-box1">
                    <label class="details"></span>
                    <input type="text" id="firstname" name="firstname" placeholder="First Name" value=<%= account.firstname%> >
                  </div>
                  <div class="input-box1">
                    <label class="details"></span>
                    <input type="text" id="middlename" name="middlename" placeholder="Middle Name" value=<%= account.middlename%> >
                  </div>
                  <div class="input-box1">
                    <label class="details"></span>
                    <input type="text" id="lastname" name="lastname" placeholder="Last Name" value=<%= account.lastname%> >
                  </div>
                  <div class="input-box2">
                    <label class="details"></span>
                    <input type="email" id="email" name="email" placeholder="Email" value=<%= account.email%> >
                  </div>
                  <div class="input-box2">
                    <label class="details"></span>
                    <input type="text" id="phone" name="phone" placeholder="Phone Number" value=<%= account.phone%> >
                  </div>
                  <div class="input-box3">
                    <label class="details"></span>
                    <input type="text" id="street" name="street" placeholder="Street" value=<%= account.street%> >
                  </div>
                  <div class="input-box3">
                    <label class="details"></span>
                    <input type="text" id="brgy" name="brgy" placeholder="Barangay" value=<%= account.brgy%> >
                  </div>
                  <div class="input-box3">
                    <label class="details"></span>
                    <input type="text" id="mn" name="mn" placeholder="Municipality" value=<%= account.mn%> >
                  </div>
                  <div class="input-box3">
                    <label class="details"></span>
                    <input type="text" id="prov" name="prov" placeholder="Province" value=<%= account.prov%> >
                  </div>
                  <div class="input-box4">
                    <label class="details"></span>
                    <select id="gender" name="gender" class="details" >
                      <option selected=<%= account.gender=="Male"%>>Male</option>
                      <option selected=<%= account.gender=="Female"%>>Female</option>
                    </select>
                  </div>
                  <div class="input-box4">
                    <label class="details"></span>
                    <input type="password" id="password" name="password" placeholder="Enter your password" >
                  </div>
                </div> 
                <div class="button">
                  <button class="logout btn-primary btn-dark align-items-center px-4 me-md-2" type="submit" >Update</button>
                </div>
                </form>
                <form action="/logout?_method=DELETE" method="POST">
                  <div class="button">
                    <button class="logout btn-primary btn-dark align-items-center px-4 me-md-2" type="submit" id="logout" name="logout">Logout</button>
                  </div>

              </form>   
    </div>
  </div> 

  <script>
    //declaring ejs elements
    const imgDiv = document.querySelector('.profile-pic');
    const img = document.querySelector('#photo');
    const file = document.querySelector('#file');
    const uploadBtn = document.querySelector('#uploadBtn')

    //if user hover on profile-pic
    imgDiv.addEventListener('mouseenter', function(){
      uploadBtn.style.display = "block"
    });

    //if we hover out from photo
    imgDiv.addEventListener('mouseleave', function(){
      uploadBtn.style.display = "block";
    });

    //img showing functionality when choosing an image to upload
    //when we choose an image to upload
    file.addEventListener('change', function(){
      //this refers to the file
      const choosedFile = this.files[0];

      if(choosedFile){
        const reader = new FileReader();
        //FileReader is a predefined function of JS

        reader.addEventListener('load', function(){
          img.setAttribute('src', reader.result);
        });

        reader.readAsDataURL(choosedFile);
      }
    });

  </script>