    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/#product">Products</a></li>
            <li class="breadcrumb-item active" aria-current="page">Laptops</li>
            </ol>
        </nav>

        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 py-1">
 
            <%- include("./product", {name:"MacBook Pro 13", image:"img/laptop/MacBook Pro 13.png", link:"/MacBookPro"})%>
            <%- include("./product", {name:"MacBook Air", image:"img/laptop/Macbook Air.png", link:"/MacbookAir"})%>
            <%- include("./product", {name:"Acer Nitro 7", image:"img/laptop/Acer Nitro 7.png", link:"/acerNitro7"})%>
            <%- include("./product", {name:"Acer Swift 7", image:"img/laptop/acer swift 7.png", link:"/acerSwift7"})%>
            <%- include("./product", {name:"Asus ROG Strix G15", image:"img/laptop/Asus ROG Strix G15.png", link:"/AsusStrix"})%>
            <%- include("./product", {name:"Asus ROG GL502VM", image:"img/laptop/Asus ROG GL502VM.png", link:"/AsusROG"})%>
            <%- include("./product", {name:"HP Spectre x360", image:"img/laptop/HP Spectre X360.png", link:"/HPspectre"})%>
            <%- include("./product", {name:"HP Elite x2 G4", image:"img/laptop/HP Elite g2.png", link:"/HPelite"})%>
            <%- include("./product", {name:"Huawei MateBook D 15", image:"img/laptop/Huawei MateBook D 15.png", link:"/HuaweiD15"})%>
            <%- include("./product", {name:"Huawei MateBook X Pro 2021", image:"img/laptop/Huawei MateBook X Pro 2021.png", link:"/HuaweiXpro"})%>
            
        </div>


    </div>

