<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Smartphones</li>
        </ol>
      </nav>

    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 py-1">
  
        <%- include("./product", {name:"iPhone XS Max", image:"img/smartphone/phone.jpg", link:"/smartphone"})%>
        
        <%- include("./product", {name:"iPhone 12 Pro Max", image:"img/smartphone/iphone 12 pro.png", link:"/smartphone"})%>  
        <%- include("./product", {name:"Samsung Galaxy Note20 5G", image:"img/smartphone/Samsung Galaxy Note.png", link:"/smartphone"})%>  
        <%- include("./product", {name:"Samsung Galaxy S21 Ultra 5G", image:"img/smartphone/Samsung Galaxy S21.png", link:"/smartphone"})%>  
        <%- include("./product", {name:"Huawei P40 Pro", image:"img/smartphone/huawei P40.png", link:"/smartphone"})%>  
        <%- include("./product", {name:"Huawei Y7A", image:"img/smartphone/Huawei y7a.png", link:"/smartphone"})%>  
        <%- include("./product", {name:"Realme GT Master Edition ", image:"img/smartphone/Realme GT.png", link:"/smartphone"})%>
        <%- include("./product", {name:"Realme 8 Pro", image:"img/smartphone/realme8Pro.png", link:"/smartphone"})%>
        <%- include("./product", {name:"Xiaomi 11T", image:"img/smartphone/Xiaomi 11T.png", link:"/smartphone"})%>
        <%- include("./product", {name:"Xiaomi Redmi Note 10S", image:"img/smartphone/Xiaomi Redmi Note 10.png", link:"/smartphone"})%>
        
</div>


</div>

