<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Tablets</li>
        </ol>
      </nav>

    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 py-1">
        
         <%- include("./product", {name:"iPad Pro 12.9-inch", image:"img/tablet/iPad Pro 12.png", link:"/iPadPro"})%>
         <%- include("./product", {name:"iPad (8th Gen)", image:"img/tablet/iPad 8.png", link:"/iPad8"})%>
         <%- include("./product", {name:"iPad Air 10.9-inch", image:"img/tablet/Ipad Air.png", link:"/iPadAir"})%>
         <%- include("./product", {name:"iPad Mini", image:"img/tablet/iPadmini.png", link:"/iPadMini"})%>
         <%- include("./product", {name:"Samsung Galaxy Tab S7+", image:"img/tablet/Samsung Galaxy Tab S7+.png", link:"/SamsungGalaxyTabS7"})%>
         <%- include("./product", {name:"Samsung Galaxy Tab S5e", image:"img/tablet/Samsung Galaxy Tab S5e.png", link:"/SamsungGalaxyTabS5e"})%>
         <%- include("./product", {name:"Huawei MatePad 11", image:"img/tablet/Huawei MatePad 11.png", link:"/HuaweiMatePad11"})%>
         <%- include("./product", {name:"Huawei MatePad T 10s", image:"img/tablet/Huawei Mate t10.png", link:"/HuaweiMatePadT10s"})%>
         <%- include("./product", {name:"Realme Pad", image:"img/tablet/Realme Pad.png", link:"/RealmePad"})%>
         <%- include("./product", {name:"Xiaomi Pad 5", image:"img/tablet/Xiaomi Pad 5.png", link:"/xiaomiPad"})%>
           
    </div>
</div>


