<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">View All</li>
        </ol>
      </nav>

    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 py-1">
         
      <!--SMARTPHONES-->
      <%- include("./product", {name:"iPhone XS Max", image:"img/smartphone/phone.jpg", link:"/iPhone10"})%>
      <%- include("./product", {name:"iPhone 12 Pro Max", image:"img/smartphone/iphone 12 pro.png", link:"/iPhone12"})%>  
      <%- include("./product", {name:"Samsung Galaxy Note20 5G", image:"img/smartphone/Samsung Galaxy Note.png", link:"/galaxynote20"})%>  
      <%- include("./product", {name:"Samsung Galaxy S21 Ultra 5G", image:"img/smartphone/Samsung Galaxy S21.png", link:"/galaxys21ultra"})%>  
      <%- include("./product", {name:"Huawei P40 Pro", image:"img/smartphone/huawei P40.png", link:"/huaweip40pro"})%>  
      <%- include("./product", {name:"Huawei Y7A", image:"img/smartphone/Huawei y7a.png", link:"/huaweiy7a"})%>  
      <%- include("./product", {name:"Realme GT Master Edition ", image:"img/smartphone/Realme GT.png", link:"/gtmaster"})%>
      <%- include("./product", {name:"Realme 8 Pro", image:"img/smartphone/realme8Pro.png", link:"/realme8pro"})%>
      <%- include("./product", {name:"Xiaomi 11T", image:"img/smartphone/Xiaomi 11T.png", link:"/xiaomi11t"})%>
      <%- include("./product", {name:"Xiaomi Redmi Note 10S", image:"img/smartphone/Xiaomi Redmi Note 10.png", link:"/redminote10s"})%>

      <!--TABLETS-->
      <%- include("./product", {name:"iPad Pro 12.9-inch", image:"img/tablet/iPad Pro 12.png", link:"/iPadPro"})%>
      <%- include("./product", {name:"iPad (8th Gen)", image:"img/tablet/iPad 8.png", link:"/iPad8"})%>
      <%- include("./product", {name:"iPad Air 10.9-inch", image:"img/tablet/Ipad Air.png", link:"/iPadAir"})%>
      <%- include("./product", {name:"iPad Mini", image:"img/tablet/iPadmini.png", link:"/iPadMini"})%>
      <%- include("./product", {name:"Samsung Galaxy Tab S7+", image:"img/tablet/Samsung Galaxy Tab S7+.png", link:"/SamsungGalaxyTabS7"})%>
      <%- include("./product", {name:"Samsung Galaxy Tab S5e", image:"img/tablet/Samsung Galaxy Tab S5e.png", link:"/SamsungGalaxyTabS5e"})%>
      <%- include("./product", {name:"Huawei MatePad 11", image:"img/tablet/Huawei MatePad 11.png", link:"/HuaweiMatePad11"})%>
      <%- include("./product", {name:"Huawei MatePad T 10s", image:"img/tablet/Huawei Mate t10.png", link:"/HuaweiMatePadT10s"})%>
      <%- include("./product", {name:"Realme Pad", image:"img/tablet/Realme Pad.png", link:"/RealmePad"})%>
      <%- include("./product", {name:"Xiaomi Pad 5", image:"img/tablet/Xiaomi Pad 5.png", link:"/xiaomiPad"})%>

      <!--LAPTOPS-->
      <%- include("./product", {name:"MacBook Pro 13", image:"img/laptop/MacBook Pro 13.png", link:"/MacBookPro"})%>
      <%- include("./product", {name:"MacBook Air", image:"img/laptop/Macbook Air.png", link:"/MacbookAir"})%>
      <%- include("./product", {name:"Acer Nitro 7", image:"img/laptop/Acer Nitro 7.png", link:"/acerNitro7"})%>
      <%- include("./product", {name:"Acer Swift 7", image:"img/laptop/acer swift 7.png", link:"/acerSwift7"})%>
      <%- include("./product", {name:"Asus ROG Strix G15", image:"img/laptop/Asus ROG Strix G15.png", link:"/AsusStrix"})%>
      <%- include("./product", {name:"Asus ROG GL502VM", image:"img/laptop/Asus ROG GL502VM.png", link:"/AsusROG"})%>
      <%- include("./product", {name:"HP Spectre x360", image:"img/laptop/HP Spectre X360.png", link:"/HPspectre"})%>
      <%- include("./product", {name:"HP Elite x2 G4", image:"img/laptop/HP Elite g2.png", link:"/HPelite"})%>
      <%- include("./product", {name:"Huawei MateBook D 15", image:"img/laptop/Huawei MateBook D 15.png", link:"/HuaweiD15"})%>
      <%- include("./product", {name:"Huawei MateBook X Pro 2021", image:"img/laptop/Huawei MateBook X Pro 2021.png", link:"/HuaweiXpro"})%>

      <!--ACCESSORIES-->
      <%- include("./product", {name:"AirPods Pro",image:"img/accessories/Airpods Pro.png", link:"/airPodsPro"})%>
      <%- include("./product", {name:"HomePod mini", image:"img/accessories/HomePod Mini.png", link:"/homePod"})%>
      <%- include("./product", {name:"Apple MagSafe Charger", image:"img/accessories/Apple MagSafe Charger.png", link:"/MagSafe"})%>
      <%- include("./product", {name:"Huawei Smart Keyboard", image:"img/accessories/Huawei Smart Keyboard.png", link:"/HuaweiKeyboard"})%>
      <%- include("./product", {name:"Samsung Bluetooth Mouse Slim", image:"img/accessories/Samsung Bluetooth Mouse Slim.png", link:"/SamsungMouse"})%>
      <%- include("./product", {name:"Samsung Galaxy Watch4 4G", image:"img/accessories/Galaxy Watch4 4G.png", link:"/galaxyWatch4"})%>
      <%- include("./product", {name:"Huawei Scale 3 Pro", image:"img/accessories/Huawei Scale 3 Pro.png", link:"/Scale3Pro"})%>
      <%- include("./product", {name:"Apple Magic Keyboard", image:"img/accessories/iPad Magic Keyboard.png", link:"/AppleKeyboard"})%>
      <%- include("./product", {name:"Huawei 6700 mAh Power Bank", image:"img/accessories/Huawei 6700 mAh Power Bank.png", link:"/HuaweiPowerBank"})%>
      <%- include("./product", {name:"Samsung S Pen Fold Edition", image:"img/accessories/Samsung Pen.png", link:"/SamsungSpen"})%>

     
    </div>


</div>

