<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">View All</li>
        </ol>
      </nav>

    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 py-1">
         
         <%- include("./product", {name:"Smartphone", image:"img/phone.jpg", link:"/viewAll"})%>
         <%- include("./product", {name:"Smartphone", image:"img/phone.jpg", link:"/viewAll"})%>
         <%- include("./product", {name:"Smartphone", image:"img/phone.jpg", link:"/viewAll"})%>
         <%- include("./product", {name:"Smartphone", image:"img/phone.jpg", link:"/viewAll"})%>
         <%- include("./product", {name:"Smartphone", image:"img/phone.jpg", link:"/viewAll"})%>

         <%- include("./product", {name:"Tablet", image:"img/ipad.jpg", link:"/viewAll"})%>
         <%- include("./product", {name:"Tablet", image:"img/ipad.jpg", link:"/viewAll"})%>
         <%- include("./product", {name:"Tablet", image:"img/ipad.jpg", link:"/viewAll"})%>
         <%- include("./product", {name:"Tablet", image:"img/ipad.jpg", link:"/viewAll"})%>
         <%- include("./product", {name:"Tablet", image:"img/ipad.jpg", link:"/viewAll"})%>

         <%- include("./product", {name:"Laptop", image:"img/laptop.jpg", link:"/viewAll"})%>
         <%- include("./product", {name:"Laptop", image:"img/laptop.jpg", link:"/viewAll"})%>
         <%- include("./product", {name:"Laptop", image:"img/laptop.jpg", link:"/viewAll"})%>
         <%- include("./product", {name:"Laptop", image:"img/laptop.jpg", link:"/viewAll"})%>
         <%- include("./product", {name:"Laptop", image:"img/laptop.jpg", link:"/viewAll"})%>

         <%- include("./product", {name:"Accessories", image:"img/accessories.jpg", link:"/viewAll"})%>
         <%- include("./product", {name:"Accessories", image:"img/accessories.jpg", link:"/viewAll"})%>
         <%- include("./product", {name:"Accessories", image:"img/accessories.jpg", link:"/viewAll"})%>
         <%- include("./product", {name:"Accessories", image:"img/accessories.jpg", link:"/viewAll"})%>
         <%- include("./product", {name:"Accessories", image:"img/accessories.jpg", link:"/viewAll"})%>

     
    </div>


</div>

